body {
    background-color: #FFDAB9; /* Light Peach background color */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    font-size: 24px;
    padding: 20px;
}

.camera-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

video {
    background-color: #000; /* Black background for video element */
}
